* {
    transition: all 0.6s;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #888;
    margin: 0;
}

#main {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.message_err {
    display: table-cell;
    vertical-align: middle;
}

.message_err h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
}

.message_err_anim{
    animation: type .5s alternate infinite;
}

.message_err a {
    font-size: 25px;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }
    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}