<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <link href="../static/css/nav.css" th:href="@{/css/nav.css}" rel="stylesheet">
    <link href="../static/css/ahunter.css" th:href="@{/css/ahunter.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css">
    <script src="https://ahunter.ru/js/min/ahunter_suggest.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        let address1 = {id: 'address1'};
        let address2 = {id: 'address2'};
        AhunterSuggest.Address.Solid(address1);
        AhunterSuggest.Address.Solid(address2);
    </script>
    <script>
        function validate() {
            // TODO: Fix thymeleaf paths
            if (document.addressForm.from.value === document.addressForm.to.value) {
                alert("Error! Addresses shouldn't be equal");
                document.addressForm.from.value = '';
                document.addressForm.from.focus();
                return false;
            }
        }
    </script>
    <title>AddressForm</title>
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
<div class="container ">
    <form name="addressForm"
          class="border border-primary"
          action="#"
          th:action="@{/addressForm}"
          th:object="${address}"
          onsubmit="return validate()"
          method="POST">
        <div th:each="error : ${#fields.errors('from')}"
             class="alert alert-danger"
             role="alert">
            <p class="error-message text-center"
               th:text="${error}">
                Validation error
            </p>
        </div>
        <div class="form-group row">
            <label for="address1" class="col-sm-offset-3 col-sm-1 col-form-label-lg col-xs-2"
                   th:text="#{address.from}">
                from
            </label>
            <label class="col-sm-5 col-xs-10">
                <input id="address1"
                       type="text"
                       class="form-control"
                       th:field="*{from}"
                       name="from"
                       value=""
                       th:placeholder="#{address.from.info}"
                       required="required"/>
            </label>
        </div>
        <div class="form-group row ">
            <label for="address2" class="col-sm-offset-3 col-sm-1 col-form-label-lg col-xs-2"
                   th:text="#{address.to}">
                to
            </label>
            <label class="col-sm-5 col-xs-10">
                <input id="address2"
                       type="text"
                       class="form-control"
                       th:field="*{to}"
                       name="to"
                       value=""
                       th:placeholder="#{address.to.info}"
                       required="required"/>
            </label>
        </div>
        <div class="form-group row col-sm-5 col-sm-offset-5 col-xs-offset-5">
            <button type="submit"
                    id="compare_button"
                    class="btn btn-primary btn-lg"
                    th:text="#{address.compare}">
                Compare
            </button>
        </div>
    </form>
</div>
</body>
</html>