<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/messagePages.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <title>404 error</title>
</head>
<body>
<div id="main">
    <div class="message_err" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
        <h1 class="message_err_anim" th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
        <br>
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
        <a class="btn btn-info btn-lg" role="button" href="/addressForm">Back to Home Page</a>
    </div>
</div>
</body>
</html>
