<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/nav.css" th:href="@{/css/nav.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
<div th:if="${records.size()==0}" class="container">
    <h1 class="alert-info alert text-center" th:id="clean_page" th:text="#{history.clean}"></h1>
</div>

<div class="container">
    <table class="history-container" th:if="${records.size()!=0}">
        <thead>
        <tr>
            <th>№</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th class="text-center">Make query again?</th>
            <th>
                <form name="removeAll" action="#" th:action="@{'/removeAll/' + ${#httpServletRequest.remoteUser}}"
                      method="POST">
                    <button type="submit" id="remove_all_btn" class="btn btn-danger btn-block" th:text="#{history.removeAll}">Remove all
                    </button>
                </form>
            </th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="record, iterator: ${records}">
            <td><span th:text="${iterator.index + 1}" th:id="'i_' + ${iterator.index+1}"></span></td>

            <td><span th:text="${#dates.format(record.date, 'HH:mm, dd-MMM-yyyy')}" th:id="'date_' + ${iterator.index+1}"></span></td>
            <td><span th:text="${record.address1}" th:id="'address1_' + ${iterator.index+1}"></span></td>
            <td><span th:text="${record.address2}" th:id="'address2_' + ${iterator.index+1}"></span></td>
            <td>
                <div class="color-block-bottom">
                    <form name="addressForm"
                          action="#" th:action="@{/addressForm}"
                          th:object="${address}"
                          method="POST">
                        <input type="text"
                               class="form-control"
                               name="from"
                               id="from"
                               hidden="hidden"
                               th:value="${record.address1}"/>
                        <input type="text"
                               class="form-control"
                               name="to"
                               id="to"
                               hidden="hidden"
                               th:value="${record.address2}"/>
                        <button type="submit"
                                th:id="'compare_' + ${iterator.index+1}"
                                class="btn btn-primary btn-block"
                                th:text="#{address.compare}">
                            Compare
                        </button>

                    </form>
                </div>
            </td>
            <td>
                <form name="removeRow"
                      action="#" th:action="@{'/removeRow/' + ${record.id} + '/' + ${#httpServletRequest.remoteUser}}"
                      method="POST">
                    <button type="submit"
                            th:id="'remove_' + ${iterator.index+1}"
                            class="btn btn-warning btn-block"
                            th:text="#{history.remove}">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>