<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{label.pages.register.title}">Title</title>
    <script th:inline="javascript">
        function validate() {
            // TODO: Fix thymeleaf paths
            if (document.loginForm.username.value == "" && document.loginForm.password.value == "") {
                alert(/*[[#{message.username} + #{message.password}]]*/);
                document.loginForm.username.focus();
                return false;
            }
            if (document.loginForm.username.value == "") {
                alert(/*[[#{message.username}]]*/);
                document.loginForm.username.focus();
                return false;
            }
            if (document.loginForm.password.value == "") {
                alert(/*[[#{message.password}]]*/);
                document.loginForm.password.focus();
                return false;
            }
        }
    </script>
</head>
<body>
<div class="container">
    <div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null
                and session[SPRING_SECURITY_LAST_EXCEPTION].message != null}" class="alert alert-danger" role="alert">
        <th:block th:switch="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">
            <p th:case="'Bad credentials'" th:text="#{message.badCredentials}"></p>
            <p th:case="'User is disabled'" th:text="#{message.userDisabled}"></p>
            <p th:case="*" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"></p>
        </th:block>
    </div>
    <div th:if="${param.logout}" class="alert alert-success" role="alert">
        <p>You have been logged out.</p>
    </div>
    <form name="loginForm" action="#" th:action="@{/login}" method="post" onsubmit="return validate()">
        <h1 th:text="#{label.form.loginHeader}">form</h1>
        <div class="form-group row">
            <label class="col-sm-3" th:text="#{label.user.email}">Email</label>
            <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username_field"
                                          required="required"/></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3" th:text="#{label.user.password}">Password</label>
            <div class="col-sm-5"><input class="form-control" type="password" name="password" id="password_field"
                                          required="required"/></div>
        </div>
        <button class="btn btn-primary" name="submit" type="submit" id="login_button" th:text="#{label.form.submit}">
            Submit
        </button>
    </form>
    <br>
    <a th:href="@{/user/registration}" th:id="registration_link" th:text="#{label.form.regLink}">Register</a>
</div>
</body>
</html>
