<div class="navbar-collapse" xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="nav navbar-nav navbar-left">
            <li class="active">
                <a href="/addressForm" id="home">Home</a>
            </li>
            <li class="active">
                <a href="/history" id="history">History</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <a href="/logout" id="logout">Logout</a>
            </li>
            <li role="separator" class="divider"></li>

        </ul>
    </nav>
</div>
