<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration page</title>
</head>
<body>
<div class="container">
    <h1 th:text="#{label.form.title}">form</h1>

    <form name="regForm" action="#" th:action="@{/user/registration}" th:object="${user}" method="POST"
          onsubmit="validate()" enctype="UTF8">
        <div class="form-group row p-3" th:classappend="${#fields.hasErrors('email')}? alert-danger : ''">
            <label class="col-sm-3 col-sm-form-label" th:text="#{label.user.email}">email</label>
            <div class="col-sm-5 p-3"><input type="email" class="form-control" th:field="*{email}" name="email" value="" required="required"/></div>
            <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> HELLO ERROR </p>
        </div>
        <div class="form-group row p-3">
            <label class="col-sm-3 col-sm-form-label" th:text="#{label.user.password}">password</label>
            <div class="col-sm-5 p-3"><input id="password" class="form-control" th:field="*{password}" name="password"
                                          value="" type="password"
                                          required="required"/></div>
            <p class="error-message alert-danger"
               th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group row p-3">
            <label class="col-sm-3 col-sm-label" th:text="#{label.user.confirmPass}">confirm</label>
            <div class="col-sm-5 p-3"><input id="confirmPassword" class="form-control" th:field="*{confirmPassword}"
                                          name="confirmPassword" value=""
                                          type="password" required="required"/></div>
            <p class="error-message alert-danger"
               th:each="error : ${#fields.errors('confirmPassword')}"
               th:text="${error}">Validation error</p>
        </div>
        <button id="register_button" type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
    </form>
    <a th:href="@{/login}" id="login_link" th:text="#{label.form.loginLink}">login</a>
</div>

<script th:inline="javascript">
    function validate() {
        if (document.regForm.password.value !== document.regForm.matchingPassword.value) {
            $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
            alert("Pass doesn't match");
            return false;
        } else {
            $("#globalError").html("").hide();
            return true;
        }

    }
</script>
</body>
</html>