<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="../static/css/result.css" th:href="@{/css/result.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
<div class="container">
    <div th:if=${allRides.size()==0} class="text-center">
        <div class="nav nav-tabs"></div>
        <h1 class="alert-info alert" th:text="#{message.noRidesAvailable}"></h1>
        <a class="btn btn-info btn-lg" href="/addressForm" th:text="#{label.link.go_main}"></a>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item"
            th:each="rides, ridesStat : ${allRides}"
            th:classappend="${ridesStat.index == 0}? active: ''">
            <a class="nav-link"
               th:href="@{'#'+ ${rides[0].taxiClass}}"
               data-toggle="tab">
                <label th:text="${rides[0].taxiClass}"></label></a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade"
             th:id="${rides[0].taxiClass}"
             th:each="rides, ridesStat : ${allRides}"
             th:classappend="${ridesStat.index == 0}? 'active in': ''">
            <div class="container">
                <div class="row">
                    <div th:each="ride : ${rides}"
                         class="col-xs-12 col-md-4">
                        <div class="color-block-wrapper">
                            <div class="color-block color-block-green color-block-icon-person">
                                <div class="color-block-head"
                                     th:id="${ride.taxiClass} + '_' + ${ride.taxiService}"
                                     th:text="${ride.taxiService}">
                                </div>
                                <div class="color-block-text"
                                     th:id="${ride.taxiClass} + '_price_' + ${ride.taxiService}"
                                     th:text="${ride.cost}">
                                </div>
                            </div>
                            <div class="color-block-bottom">
                                <a th:href="'/callService/' + ${ride.taxiClass} + '/' + ${ride.taxiService}"
                                   th:object="${rideInfo}"
                                   target="_blank"
                                   th:id="${ride.taxiClass} + '_' + ${ride.taxiService} + '_call_btn'"
                                   class="btn btn-transparent-lblue">
                                    Call
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>