<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{label.pages.sucReg.title}">home</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success text-center">
                <h2 id="success_message" th:text="#{message.regSucc}">message</h2>
                <p id="success_desc"th:text="#{message.regConfirmed}">description</p>
            </div>
            <div class="text-center">
                <a class="btn btn-info btn-lg" id="login_link" role="button" th:href="@{/login}" th:text="#{message.backToLogin}">login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>